<div>
	<form action="" [formGroup]="form">
		<input type="text" name="nombre" formControlName="name" [(ngModel)]="usuario.name" id="name" placeholder="name">
		<input type="text" formControlName="job" name="job" id="job" [(ngModel)]="usuario.job" placeholder="job">
		<button type="submit" *ngIf="!update" (click)="registrarUsuario()" [disabled]="form.invalid">Enviar</button>
		<button type="submit" *ngIf="update" (click)="updateUser()" [disabled]="form.invalid">Editar</button>
	</form>

	<ul>
		<li *ngFor="let item of user">{{item.name}} <button (click)="editar(item)">Editar</button> <button (click)="delete(item.id)">Eliminar</button></li>
	</ul>
</div>